#crd1
{
    height: 50%;
    width:5%;
    margin: 1%;
}
    
#crd2
{
    height: 50%;
    width:5%;
    margin: 1%;
}
    #crd3
{
    height: 50%;
    width:5%;
    margin: 1%;
}
    #crd4
{
    height: 50%;
    width:5%;
    margin: 1%;
}
    #crd5
{
    height: 50%;
    width:5%;
    margin: 1%;
}
    